extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote k ipsum dolor sit amet, consectetur adipiscing elit. In auctor, dui quis maximus viverra, ante lacus tempor purus, dignissim cursus nibh mi at est. Quisque facilisis fringilla nisi nec tristique. Vivamus id finibus sem, ut malesuada nisi. Aliquam eleifend lacinia purus sed scelerisque. Mauris viverra eros augue, quis porttitor lacus feugiat et. Donec quis odio ut orci porta tincidunt. Nullam rhoncus elementum elit sit amet congue. Duis scelerisque ultrices lectus sed finibus. Nullam ut lobortis augue. Mauris eget vulputate leo. Ut in elit volutpat massa dapibus semper. In et lacus varius, pellentesque massa in, vestibulum ante.

                p aliquet placerat nisi quis pellentesque. Morbi dui ligula, laoreet vitae molestie ut, sagittis vel ipsum. Phasellus vitae magna laoreet, accumsan erat non, convallis urna. Morbi vitae rutrum elit. Quisque pulvinar tortor vestibulum felis placerat pharetra. Donec ut porttitor quam. Nullam aliquet tellus ac dignissim volutpat. Vivamus vitae leo quis orci tincidunt viverra. Suspendisse tempus imperdiet gravida. Maecenas mollis, arcu vitae imperdiet ultrices, metus eros tempus mauris, et egestas nulla enim et ex. Curabitur enim lacus, commodo sollicitudin elit semper, rutrum ullamcorper risus. Morbi a aliquam nunc, a facilisis nunc.

                p sed posuere lectus. Morbi laoreet eleifend luctus. Quisque ac magna diam. Sed condimentum metus risus, at semper massa porta tincidunt. Phasellus mi orci, mollis et luctus et, consectetur eu massa. Suspendisse sed laoreet lorem. Suspendisse diam turpis, consectetur at augue at, egestas elementum felis. In ut dolor eget libero viverra efficitur id a purus.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, labore voluptatibus maiores repellat 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, labore voluptatibus maiores repellat 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, labore voluptatibus maiores repellat 